body {
	font: 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
    /*background: linear-gradient(to right, red , yellow);  Standard syntax */
}

h1 {
    font: 600 3.5em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
}

h3 {
	font: 900 1em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;

}

.css-text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.css-text-wrapper input {
    width: 25%;
    text-align: center;
    font-size: 1em;
    background: transparent;
    box-shadow: none;
    padding: 5px 10px;
    outline: none;
}

.icon.right {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-left: 10px;
}

.icon.right img {
    width: 100%;
}

.input-wrapper {
    display: flex;
    justify-content: center;
}

.input-wrapper input {
    margin-right: 5px;
}
